
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PIMS 2.0 - </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <?php $this->assets->outputCss('css'); ?>
   
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->

    <?php $this->assets->outputCss() ?>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
  <body class="hold-transition skin-blue layout-top-nav">
    
    <div class="wrapper">

      <div class="topBar">
        <div class="container">
          <div class="row">
          <div class="col-xs-7">JPO</div>
          <div class="col-xs-5">
            <div class="emphasize-tab_light">
              <div class="row">
                <div class="col-xs-8">
                  <div class="row">
                    <div class="col-xs-2">
                      <?= $this->tag->image(array("img/user.png", "class"=>"user")) ?>
                    </div>
                    <div class="col-xs-10">                      
                      <div class="row"><?= $this->session->get('auth')['fullname']; ?></div>
                      <div class="row"><?= $this->session->get('auth')['email']; ?></div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2"><?= $this->tag->image(array("img/notifications.png", "class"=>"notification")) ?></div>
                <div class="col-xs-2"><?= $this->tag->image(array("img/logout.gif", "class"=>"logout")) ?></div>
              </div>              
            </div>
          </div>
        </div>
        </div>
      </div>

      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a href="#" class="navbar-brand"></a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/pims2/home">HOME</a></li>
                <li><a href="/pims2/home/?view=projects">PROJECTS</a></li>
                <li><a href="#">SUB PROGRAMMES</a></li>
                <li><a href="#">EXECUTIVE DASHBOARD</a></li>
                <li><a href="#">ABOUT PIMS</a></li>
                <li><a href="#">PORTAL SETTINGS</a></li>
              </ul>              
            </div><!-- /.navbar-collapse -->
            
        </nav>
      </header>

      <!-- Full Width Column -->
      <div class="content-wrapper">
        <div class="container">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1></h1>
            <ol class="breadcrumb">
             
            </ol>
          </section>

          <!-- Main content -->
          <section class="content">
            
            <?php 
              //print "SessionID: ".$this->session->get('id'). "<br/>";
              print $this->getContent(); 
            ?>
            
          </section><!-- /.content -->

        </div><!-- /.container -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="container">          
          <strong>Copyright &copy; 2016 <a href="#">UNEP ICTU</a>.</strong> All rights reserved.
        </div><!-- /.container -->
      </footer>
    </div><!-- ./wrapper -->

    <!-- Default Details -->
    <div class="modal" id="default-modal" role="dialog">     

    </div>

    <?php $this->assets->outputJs('js'); ?>

    <?php $this->assets->outputJs() ?>

    <!-- render custom javascript code -->
    <?php //$this->partial("javascript", array('javascript' =>$javascript)); ?>
    <?php

        $di = $this->di->getDefault();
        $commonv = $di->get("commonv");
        // then in my view I do the following
        $commonv->partial('javascript');

    ?>

  </body>
</html>
