<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <?= $this->tag->getTitle() ?>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
	
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<?php $this->assets->outputCss('css'); ?>
	<?php $this->assets->outputCss() ?>

  </head>
  <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
  <body class=" <?= @$default_skin ?> layout-top-nav">

  <script>
	function popup_message(msg_type, msg_txt)
	{
		show_popup(msg_type, msg_txt, '', null);
	}
	function show_popup(title, body, footer, modalsize)
	{

		$('#default-modal').removeClass('modal-danger modal-success modal-warning modal-info');

		switch (title)
		{
			case 'error':
				$('#default-modal').addClass('modal-danger');
				modal_title = 'Error';
				break;
			case 'success':
				$('#default-modal').addClass('modal-success');
				modal_title = 'Success';
				break;
			case 'warning':
				$('#default-modal').addClass('modal-warning');
				modal_title = 'Warning';
				break;
			case 'info':
				$('#default-modal').addClass('modal-info');
				modal_title = 'Information';
				break;

				default:
					$('#default-modal').addClass('modal-default');
					modal_title = title;
					break;
		}
		
		if (modalsize != null)
		{
		  $('#default-modal .modal-dialog').addClass(modalsize);
		}
		else
		{
		  $('#default-modal .modal-dialog').removeClass().addClass('modal-dialog');
		}
		
		$('#default-modal .modal-title').html(modal_title);
		$('#default-modal .modal-body').html(body);
		/*
		if (footer=="")
		{
			//$('#default-modal .modal-footer').css({'display':'none'});
		}
		else
		{
			$('#default-modal .modal-footer').css({'display':'block'});
			$('#default-modal .modal-footer').html(footer);
		}
		*/
		$('#default-modal').modal();
	}
  </script>


    <div class="wrapper">

      <header class="main-header">
        <nav class="navbar navbar-static-top" style="height:60px;">
          <div class="container">
            <div class="navbar-header">
              <a href="<?= $this->url->getBaseUri() ?>" class="navbar-brand"><img style="width:220px;" src="<?= $this->url->getBaseUri() ?>public/imgs/ictu_logo.png" alt="ICTU Logo"></a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
            </div>

			  <!-- Top Menus -->
			  <?= @$nav_bar_top_left ?> 
            		
			  <!-- Navbar Right Menu -->
              <div class="navbar-custom-menu">
                
				<?= @$nav_bar_top_right ?>

              </div><!-- /.navbar-custom-menu -->

          </div><!-- /.container-fluid -->
        </nav>

      </header>
      
	  <!-- Full Width Column -->
      <div class="content-wrapper">
        <div class="container">

		  <!-- Content Header (Page header) -->
          <section class="content-header">
			 
            <h1><?= @$page_header ?>&nbsp;</h1>
            
			<?= @$breadcrumbs ?>

          </section>

            <!-- Main content -->
            <section class="content">
			<div class="row">
				<div class="box box-default">
				  
				  <div class="box-body">
					
					<?= $this->getContent(); ?>
					
					<?= @$content ?>
					
				  </div><!-- /.box-body -->
				</div><!-- /.box -->
            </div>
			
			</section><!-- /.content -->
        
		</div><!-- /.container -->
      </div><!-- /.content-wrapper -->
      
	  
	  <?= @$footer ?>
    
	
	</div><!-- ./wrapper -->

	<?php $this->assets->outputJs('js'); ?>

    <?php $this->assets->outputJs() ?>
    
	


	<div class="modal fade" id="default-modal">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button aria-label="Close" data-dismiss="modal" class="close close_modal_popup" type="button"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"></h4>
		  </div>
		  <div class="modal-body">
			
		  </div>
		  <div class="modal-footer">
			<button data-dismiss="modal" class="btn btn-default pull-right close_modal_popup" type="button">Close</button>
			<!-- <button class="btn btn-primary" type="button">Save changes</button> -->
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>

  </body>
</html>
