<div class="row">
	<div class="col-sm-12">
	  <!-- Custom Tabs -->

		<form class="form-horizontal" id="form-staff" >
		  <div class="box-body">
			
			<div class="form-group">
			  <label for="first_name" class="col-sm-3 control-label">First Name:</label>

			  <div class="col-sm-9">
				
				<?= \Phalcon\Tag::textField(
					['first_name', 'class' => 'form-control' , 'placeholder' => 'First name']
				); ?>

				<?= \Phalcon\Tag::hiddenField(['staff_id',]); ?>
				<?= \Phalcon\Tag::hiddenField(['staff_operation',]); ?>

			  </div>
			</div>

			


			<div class="form-group">
			  <label for="entity_abbr" class="col-sm-3 control-label">Nationality:</label>

			  <div class="col-sm-9">
				
				<?= new \Phalcon\Forms\Element\Select('sponsor_id',
						$sponsor, ['useEmpty'=> true, 'using' => ['id', 'title'], 'class' => 'form-control']
					);
				?>
			  </div>
			</div>


			<div class="form-group">
			  

			  <div class="col-sm-9">
				<button id='btn-save-staff'>Save</button>
				
			  </div>
			</div>



		  </div>
		</form>



	</div><!-- /.col -->

</div>
