<?php
	$tenant_and_base_url = $this->session->get("tenant-and-base-url");
?>

<ul class="nav navbar-nav">
<!-- 
<li class="active"><a href="<?= $tenant_and_base_url ?>default/"> Home <span class="sr-only">(current)</span></a></li>
 -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Staff <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
	<li><a href="<?= $tenant_and_base_url ?>staff/add">Add staff</a></li>
	<li><a href="<?= $tenant_and_base_url ?>staff/list">Staff list</a></li>
	<li><a href="<?= $tenant_and_base_url ?>staff/grouped-list">Staff grouped list</a></li>

	<li><a href="<?= $tenant_and_base_url ?>staff/advance-search">Advance staff search</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Entity <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
	<!-- ><li><a href="<?= $tenant_and_base_url ?>office/add">Add office</a></li>
	<li><a href="<?= $tenant_and_base_url ?>office/list">UNEP office list</a></li>
	<li><a href="<?= $tenant_and_base_url ?>office/map">UNEP office map</a></li>
	<li class="divider"></li>
	<li><a href="#"><strong>Entity</strong></a></li> 
	<li><a href="<?= $tenant_and_base_url ?>entity/add"> Add entity</a></li> -->
	<li><a href="<?= $tenant_and_base_url ?>entity"> List entities</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Administration <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
	<li><a href="#"><strong>UNEP Cities</strong></a></li>
	<li><a href="<?= $tenant_and_base_url ?>city/add"> Add city</a></li>
	<li><a href="<?= $tenant_and_base_url ?>office/list"> List cities</a></li>
	<li class="divider"></li>
	<li><a href="#"><strong>Contract types</strong></a></li>
	<li><a href="<?= $tenant_and_base_url ?>contract-type/add"> Add contract type</a></li>
	<li><a href="<?= $tenant_and_base_url ?>contract-type/list"> List contract types</a></li>	
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Role Management <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
	<li><a href="#"><strong>Roles</strong></a></li>
	<li><a href="<?= $tenant_and_base_url ?>role/add"> New role</a></li>
	<li><a href="<?= $tenant_and_base_url ?>role/list"> List roles</a></li>
	<li class="divider"></li>
	<li><a href="#"><strong>Staff Roles</strong></a></li>
	<li><a href="<?= $tenant_and_base_url ?>role/asign-to-staff"> Assign role to staff</a></li>
  </ul>
</li>
</ul>




<!-- 
                        <li class="" role="presentation"><a href="#" tabindex="-1" role="menuitem"> Job Levels &amp; Titles</a></li>
                        <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.addjl&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Add New Job Level</a></li>
                        <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.joblevellist&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Show All Job Levels</a></li>
                        <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.addjt&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Add New Job Title</a></li>
						 <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.jobtitlelist&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Show All Job Titles</a></li>
						<li class="divider" role="presentation"></li>
						<li class="" role="presentation"><a href="#" tabindex="-1" role="menuitem"> Regions</a></li>
                        <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.addre&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Add New Region</a></li>
						 <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.regionlist&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Show All Regions</a></li>
						<li class="divider" role="presentation"></li>
						<li class="" role="presentation"><a href="#" tabindex="-1" role="menuitem"> Admin Management</a></li>
                        <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.addadm&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Assign New Admin</a></li>
						 <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.adminlist&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Show All Admins</a></li>
						<li class="divider" role="presentation"></li>
						<li class="" role="presentation"><a href="#" tabindex="-1" role="menuitem"> Unit Management</a></li>
                        <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.adduni&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Add New Unit</a></li>
						 <li class="" role="presentation"><a href="?option=com_ictapp&amp;task=masterdata.unitlist&amp;template=ictapp_v2" tabindex="-1" role="menuitem">&nbsp;&nbsp;Show All Units</a></li>
                    </ul>
					
			-->